<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Connect St George, Community Broadband Working Group of St. George Maine</title>
  <meta name="description" content="Connect St George is the community broadband working group of St George, Maine. We're committed to seeking high speed internet access for all residents.">
  <meta name="author" content="Jeff Boulet jeffboulet.com">
  <meta name="revisit-after" content="15 days">
  <meta name="robots" content="index,follow">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css?{{site.time | date: '%s%N'}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
  <body data-spy="scroll" data-target="#sidenav" data-offset="100">
    {% include header.html %}
    {{ content }}
  </body>
</html>
