body {

}

#sidenav {
  position: fixed;
  top: 100px;
  left: 0;
  max-width: 25%;
}

.main-content {
  padding-top:    50px;
  padding-bottom: 50px;
  max-width: 650px;
  padding-left: 50px;

  li {
    margin-bottom: 1em;
  }
}

.text-md {
  font-size: 1.25rem;
}
