---
layout: text
title: Connect St George
---

{% include sidenav.html %}

<div class="container">
  <div class="row">
    <div class="col-12" id="main">
      <!-- <div class="main-content"> -->
        <h1 class="page-title">Connect St George</h1>
        <p class="text-md">Connect St George seeks to achieve universal access to high speed reliable internet in St George to support education, healthcare, civic engagement, aging in place, and local businesses.</p>

        <p><a href="https://docs.google.com/document/d/1Lu73D9YIvHPwur-tDwDOv8ubF7suHVW8N4aZRcNMC_k/edit" target="_blank">Please submit edits here.</a></p>

        <br>

        <hr>

        {% for section in site.data.sections %}
          <section id="{{ section.title  | slugify }}" class="section">
            <h1 class="h3">{{ section.title }}</h1>
            <div class="text-lg">
              {{ section.description }}
            </div>
          </section>
        {% endfor %}
      </div>
    </div>
  <!-- </div> -->
</div>


<script type="text/javascript">
  $(document).on('ready', function() {
    $("#sidenav a").on('click', function() {
      $("#sidenav a.active").removeClass('active');
      $(this).addClass('active');
    })
  })
</script>
