---
layout: text
title: Connect St George
---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div id="sidenav">
        <ul class="nav flex-column">
          {% for section in site.data.sections %}
            <li class="nav-item">
              <a class="nav-link" href="#{{ section.title | slugify }}">
                {{ section.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="main-content">
        <div>
          <h1 class="display-4">Connect St George</h1>
          <p class="text-md">Connect St George seeks to achieve universal access to high speed reliable internet in St George to support education, healthcare, civic engagement, aging in place, and local businesses.</p><br>
        </div>

        <hr>

        {% for section in site.data.sections %}
          <section id="{{ section.title  | slugify }}" class="section">
            <h1 class="h3">{{ section.title }}</h1>
            <div class="text-lg">
              {{ section.description }}
            </div>
          </section>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).on('ready', function() {
    $("#sidenav a").on('click', function() {
      $("#sidenav a.active").removeClass('active');
      $(this).addClass('active');
    })
  })
</script>
